@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

body {
    background-color: #ffefef;    
}

.hlavnistrana {
    background-color: white;
    padding: 100px 70px;
    margin: 100px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.hlavicka {
    text-align: center;
}

.hlavnistrana img {
    width: 32%;
}

.uvod {
    text-align: center;
}